# Python
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class

# Models and Large Files
*.h5
*.model
*.h5py

# Logs
*.log

# Dataset
jigsaw-toxic-comment-classification-challenge/

# IDEs
.vscode/
.idea/

# Gradio
.gradio/

# Jupyter
.ipynb_checkpoints/
